.btn {
    border-radius: 0;
}

.btn-default {
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
}

.btn-primary,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus {
    background-color: #ef3928;
    border-color: #ef3928;
}

.fa-btn {
    margin-right: 6px;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:active:hover,
.btn-secondary:focus {
    background-color: #d947ee;
    border-color: #d947ee;
    color: #fff;
}

