.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#canvas {
/*    background: url('/images/map1.png') 0 20px no-repeat;*/
    border: #000 solid 1px;
/*    width: 900px;
    height: 1200px;*/
}

.map img {
    width: 100%;
    padding-bottom: 20px;
}

.map .column {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
   }